<!DOCTYPE html>
<html>
<head>
  <title>Rock-paper-scissors</title>
</head>

<body>
  <h2><%= @outcome1 %></h2>
  <h2><%= @outcome2 %></h2>
  <h2><%= @outcome3 %></h2>

  <div><a href="/"> Rules </a></div>
</body>
</html>
